.settings-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  gap: 2rem;
}
.settings-option {
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  width: 33vw;
  background-color: grey;
}
.settings-option h1 {
  padding-left: 2rem;
}
.settings-dropdown-toggle {
  margin-right: 1rem;
  transition: 0.5s ease;
  font-size: x-large;
}

.settings-dropdown-toggle.open {
  transform: rotate(90deg);
}
